---
// Logo component using the original DexAPK SVG
export interface Props {
  size?: 'sm' | 'md' | 'lg' | 'xl' | '2xl';
  showText?: boolean;
}

const { size = 'md', showText = false } = Astro.props;

const sizeClasses = {
  sm: 'w-8 h-8',
  md: 'w-12 h-12',
  lg: 'w-16 h-16',
  xl: 'w-20 h-20',
  '2xl': 'w-32 h-32 sm:w-40 sm:h-40'
};
---

<div class="flex items-center">
  <!-- Original DexAPK SVG Logo -->
  <div class={`${sizeClasses[size]} flex items-center justify-center`}>
    <svg
      width={size === 'sm' ? "32" : size === 'md' ? "48" : size === 'lg' ? "64" : size === 'xl' ? "80" : "128"}
      height={size === 'sm' ? "32" : size === 'md' ? "48" : size === 'lg' ? "64" : size === 'xl' ? "80" : "128"}
      xmlns="http://www.w3.org/2000/svg" 
      version="1.0" 
      viewBox="0 0 1024.000000 1024.000000" 
      preserveAspectRatio="xMidYMid meet"
      class="w-full h-full text-gray-900 dark:text-white"
      fill="currentColor"
      aria-label="DexAPK Logo"
    >
      <g transform="translate(0.000000,1024.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
        <!-- Android Head -->
        <path d="M4105 7495 c-14 -13 -25 -34 -25 -47 0 -13 54 -115 120 -228 66 -113 120 -207 120 -211 0 -3 -19 -14 -42 -26 -111 -54 -296 -206 -392 -322 -199 -241 -310 -508 -332 -798 l-7 -93 1572 0 1572 0 -6 73 c-40 454 -272 843 -657 1097 -48 32 -93 60 -99 62 -8 3 35 85 109 213 67 115 122 220 122 233 0 29 -42 72 -70 72 -41 0 -58 -21 -140 -167 -46 -81 -100 -178 -121 -214 l-39 -67 -107 38 c-367 129 -771 128 -1136 -3 l-97 -35 -39 66 c-21 37 -75 134 -121 215 -45 81 -91 152 -101 157 -30 16 -59 11 -84 -15z m389 -966 c128 -101 10 -298 -134 -224 -81 42 -79 186 2 231 36 21 101 17 132 -7z m1386 6 c81 -42 79 -186 -2 -231 -36 -21 -101 -17 -132 7 -128 101 -10 298 134 224z"/>
        
        <!-- D -->
        <path d="M1100 4365 l0 -778 308 6 c319 6 384 13 522 58 89 29 204 90 272 144 226 181 315 534 212 845 -64 192 -211 346 -408 425 -152 62 -196 67 -568 72 l-338 5 0 -777z m658 490 c194 -40 295 -117 354 -266 27 -68 37 -273 18 -358 -29 -133 -110 -236 -233 -296 -99 -49 -185 -65 -352 -65 l-140 0 0 500 0 500 142 0 c85 0 169 -6 211 -15z"/>
        
        <!-- e -->
        <path d="M3023 4745 c-107 -23 -190 -70 -274 -154 -120 -120 -169 -245 -169 -436 0 -177 49 -306 159 -416 119 -119 258 -169 472 -169 138 0 235 22 346 77 l73 37 0 108 c0 59 -2 108 -5 108 -3 0 -47 -18 -99 -40 -323 -138 -583 -64 -640 183 l-6 27 405 0 405 0 6 26 c4 14 4 81 2 147 -6 131 -27 209 -83 296 -61 98 -176 177 -296 206 -78 18 -212 18 -296 0z m255 -220 c68 -29 103 -75 128 -170 25 -93 49 -85 -256 -85 l-269 0 14 39 c41 117 111 193 205 222 43 13 139 10 178 -6z"/>
        
        <!-- x -->
        <path d="M3766 4728 c4 -7 95 -136 201 -286 l194 -273 -95 -132 c-52 -73 -144 -199 -205 -282 -61 -82 -111 -153 -111 -158 0 -4 75 -6 167 -5 l167 3 124 187 124 187 125 -190 126 -189 173 0 c96 0 174 4 174 9 0 4 -92 135 -205 291 -119 164 -202 287 -198 293 4 7 48 68 98 137 50 69 139 191 198 273 l107 147 -176 -2 -176 -3 -107 -182 c-59 -100 -109 -184 -112 -187 -3 -3 -58 80 -123 184 l-117 190 -180 0 c-142 0 -179 -3 -173 -12z"/>
        
        <!-- A -->
        <path d="M5606 5108 c-22 -52 -558 -1481 -563 -1500 -5 -17 7 -18 149 -18 l154 0 19 53 c10 28 38 107 63 175 l44 122 312 0 311 0 60 -173 61 -172 162 -3 c105 -2 162 1 162 8 0 10 -47 134 -388 1025 -98 259 -182 480 -186 493 -7 22 -10 22 -177 22 l-170 0 -13 -32z m214 -395 c59 -162 180 -498 180 -500 0 -2 -99 -3 -221 -3 -207 0 -221 1 -214 18 3 9 51 134 105 277 114 303 111 295 115 295 2 0 18 -39 35 -87z"/>
        
        <!-- P -->
        <path d="M6660 4366 l0 -776 155 0 155 0 0 274 0 274 193 5 c208 5 250 13 361 69 167 84 257 271 243 503 -12 202 -108 328 -300 392 l-82 27 -362 4 -363 4 0 -776z m591 524 c76 -15 139 -50 174 -99 27 -38 30 -52 33 -129 4 -100 -9 -141 -59 -190 -57 -55 -125 -74 -286 -80 l-143 -5 0 257 0 256 114 0 c62 0 137 -5 167 -10z"/>
        
        <!-- K -->
        <path d="M7950 4365 l0 -775 155 0 155 0 2 392 3 392 294 -392 293 -392 185 0 c147 0 183 3 175 13 -18 23 -567 762 -591 795 l-23 33 281 349 c155 193 281 352 281 355 0 3 -74 5 -164 5 l-165 0 -207 -257 c-115 -142 -242 -299 -283 -350 l-76 -92 -3 350 -2 349 -155 0 -155 0 0 -775z"/>
      </g>
    </svg>
  </div>
</div>